// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins/breakpoints";

.main{
    background: linear-gradient(to bottom, rgb(255, 206, 50) ,rgb(245, 166, 35) );
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
     
}


// @include media-breakpoint-up(){
//     .welcome{
//         background-color: white;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         box-shadow: 1px 0px 13px rgba(76, 76, 76, 0.5);
//         border-radius: 10px;
//         width: 50%;
//         min-height: 88vh;
//         margin: 52px 4% 25px;
//     }
// }



.welcome{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 13px rgba(76, 76, 76, 0.5);
    border-radius: 10px;
    width: 91%;
    max-width: 650px;
    min-height: 88vh;
    margin: 52px 4% 25px;

    &__div{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 25px ;
        
        }
    

    &__img{
        width: 130px;
        margin: 37px 0 44px;
    }
    &__title{
        font-family: 'gilroy-font';
        font-size: 27px;
        font-weight: bold;
        margin-top: 47px;
        margin-bottom: 44px;
    }
    &__subtitle{
        font-family: 'noto-font';
        font-size:18px;
        color: rgba(0, 0, 0, 0.664);
        margin-top: 20px;
        margin-bottom: 82px;

    }
    &__btn{
        height: 30px;
        width: 189px;
        background-color: var(--color-background-orange);
        border: none;
        border-radius: 8px;
        color: var(--color-white);
        font-family: 'noto-font';
        margin: 30px 0 7px;
        cursor: pointer;
    }
    &__link{
        color: var(--color-black);
        font-family: 'noto-font';
        text-decoration: none;
        font-size: 11px;
    }
    
}
// hr{
//     margin-top: 2px;
//     border-radius: 10px;
// }