.mapa{
    width: 100px;
    height: 100px;
}

#pac-input{
    // width: 250px;
    // height: 32px;
    // border-radius: 10px;
    // background-color: white;
    // border: solid 2px #f5a623;
    // /* margin: 100px 22px 0; */
    // top: 60px;
    // margin-top: 10px;
    // margin-left: 50px;
}