.editUserContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainUser{
    padding: 14px 12px 0;
    width: 100%;
    max-width: 500px;
    &__img{
        height: 18px;
    }
}

.editForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 34px;

    &__label{
        color: rgba(0, 0, 0, 0.883);
        font-family: 'noto-font';
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    &__input{
        border: none;
        border-bottom: solid #d8d8d8 2px;
        margin-bottom: 10px;
        
        
        
    }
    &__btn{
        height: 30px;
        width: 189px;
        background-color: rgb(246, 143, 36);
        border: none;
        border-radius: 10px;
        color: white;
        font-family: 'noto-font';
        margin: 30px 0 7px;
        cursor: pointer;
        
    }
}
