@font-face{
    font-family: 'gilroy-font';
    src: url('../../Assets/Fonts/Gilroy_Font/Gilroy-Regular.ttf');
}


@font-face{
    font-family: 'noto-font';
    src: url('../../Assets/Fonts/Noto_Sans/NotoSans-Regular.ttf');
}





