.userPageContainer{
    display: flex;
    justify-content: center;
}

.userPage{
    padding: 12px 12px 57px;
    max-width: 500px;
    width: 100%;

    &__user{
        font-family: 'gilroy-font';
        margin-bottom: 3px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        

    }
    &__h2{
        margin: 0;
        font-family: 'noto-font';
        font-size: 21px;
    }
    &__text{
        margin: 0;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.555);
        cursor: pointer;
    }
    &__img{
        height: 92px;
        object-fit: cover;
        border-radius: 10px;
        margin-left: 10px;
        width: 90px;
    }
    &__hr{
        background-color: #d8d8d8;
        border: solid 1px #d8d8d8;
        border-radius: 10px;
    }
    
}
.list{
    &__item{
        font-family: 'noto-font';
        margin-top: 25px;
    }
    &__p{
        margin: 0;
        color: black;
        text-decoration: none;
    }
    &__span{
        color: rgba(0, 0, 0, 0.555);
    }
}

.photosEdit {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    }
    .btns{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

.becomeButtonsEdit{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__upload{
        height: 30px;
    width: 140px;
    background-color: white;
    border: solid 1px rgb(246, 143, 36);
    border-radius: 8px;
    color: rgb(246, 143, 36);
    font-family: 'noto-font';
    cursor: pointer;
    }  
}
.labelPhotosEdit {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    transition: all .5s;
    text-transform: uppercase;
    text-align: center;
    height: 30px;
    width: 140px;
    background-color: white;
    border: solid 1px rgb(246, 143, 36);
    border-radius: 8px;
    color: rgb(246, 143, 36);
    font-family: 'noto-font';
    
    cursor: pointer;
    padding-top: 5px;
}

.svgEdit{
    width: 10px;
    margin-right: 0.5rem;
    transform: rotate(180deg);
}