.postDetails{
   
    
    &__arrowBack{
        height: 22px;
        margin: 10px;
    }
    &__main{
        padding: 12px 12px 57px;
        width: 100%;
        max-width: 500px;

    }
    &__user{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px;
    }
    &__info{
        height: 78px;
    }
    &__h2{
        margin: 0;
        font-family: 'gilroy-font';
        font-size: 22px;
        font-weight: 600;
    }
    &__p{
        margin: 0;
        font-family: 'noto-font';
        font-size: 11px;
    }
    
    &__img{
        margin-left: 20px;
        width: 78px;
        height: 78px;
        object-fit: cover;
        border-radius: 9px;
    }

}

.section{

    &__div{
        display: flex;
        margin: 8px 0;
    }
    &__img{
        height: 20px;
        margin: 0 25px;
    }
    &__text{

    }
    &__info{
        margin: 0 8px;
        font-family: 'noto-font';
        font-size: 11px;
    }
    &__h2{
        margin: 0;
        font-family: 'gilroy-font';
        font-size: 15px;
        font-weight: 600;
    }
    &__p{
        margin: 0;
        font-family: 'noto-font';
        font-size: 12px;
    }
    &__hr{
        margin: 17px 0;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.294);
        width: 100%;
        border-radius: 10px;
        border: none;
    }
}

.reviews{

    &__sec{
        display: flex;
        margin-top: 20px;
    }
    &__img{
        
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 100%;
    }
    &__div{
        margin-left: 7px;
    }
    &__titles{
        display: flex;
        align-items: center;
    }
    &__h3{
        margin: 0;
        font-family: 'gilroy-font';
        font-size: 15px;
    }
    &__h5{
        margin: 0;
        font-family: 'noto-font';
        margin-left: 5px;
        font-size: 11px;
    }

    
}

.rules{
    margin-top: 55px;
}

.total{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__link{
        margin: 0;
        font-family: 'noto-font';
        font-size: 11px;
        color:  rgb(0, 149, 190);
        text-decoration: none;
    }

        &__btn{
        height: 30px;
        width: 140px;
        background-color: rgb(246, 143, 36);
        border: none;
        border-radius: 8px;
        color: white;
        font-family: 'noto-font';
        margin: 30px 0 45px;
        cursor: pointer;
    }
}