.c-chat{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
    &__header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        width: 100%;
        padding: 12px;
    }
    &__headerMain{
        width: 100%;
    }
    &__scrollDiv{
        overflow: hidden;
        overflow-y: scroll;
        height: 59vh;
        width: 100%;
    }
    &__details{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    &__reserva{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'noto-font';
    }
    &__makecontact{
        color: grey;
        margin: 0 5px 28px;
        font-family: 'noto-font';
    }
    &__body{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px 0 10px 0;
        width: 100%;
    }
    &__img{
        width: 100%;
        height: 95px;
        border-radius: 15px;
        object-fit: cover;
    }
    &__message__user {
        font-family: 'noto-font';
        border-radius: 10px;
        margin: 8px 5px 0 0;
        background-color: rgba(175, 175, 175, 0.329);
        
        box-shadow: 0px 0px 8px rgba(175, 175, 175, 0.329);
    }
    &__message__guardian {
        background-color: #0c1047a4;
        border-radius: 10px;
        font-family: 'noto-font';
        border-radius: 10px;
        margin: 8px 5px 0 0;
       
        box-shadow: 0px 0px 8px rgba(175, 175, 175, 0.329);
    }
    &__textholder {
        position: fixed;
        bottom: 2px;
        padding: 4px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        height: 69px;
        border-top: solid 2px rgba(0, 0, 0, 0.733);
       
    }
    &__textarea{
        width: 82%;
        height: 30px;
        border: none;
        font-family: 'noto-font';
    }
    &__title{
        font-family: 'gilroy-font';
        margin: 0 20px 4px;
    }
    &__sendBtn{
        height: 30px;
        background-color: rgb(246, 143, 36);
        border: none;
        border-radius: 10px;
        color: white;
        font-family: 'noto-font';
        cursor: pointer;
    }
    
}

.orange{
    color: orange;
}

