.userNavbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    z-index: 100;
    
    img{
        height: 22px;
        margin-top: 3px;
    }
}
.guardianNavbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    z-index: 100;
    img{
        height: 22px;
        margin-top: 3px;
    }
}