.searchGuardian{
    background: linear-gradient(to bottom, rgb(255, 206, 50) ,rgb(245, 166, 35) );
    z-index: 1000;
    width: 100%;
    
    
    
    &__img{
        height: 22px;
        margin: 10px 10px 0;
    }
    &__p{
        font-family: 'gilroy-font';
        text-align: center;
        color: white;
        font-size: 20px;
        margin: 0;
    }
}

// .pac-target-input{
//     display: none;
// }