.myBookingRequest{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingRequest{
    width: 100%;
    max-width: 500px;
    padding: 12px 12px 57px;

    &__h2{
        font-family: 'gilroy-font';
    }
    &__div{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__user{
        display: flex;
        justify-content: center;
    }
    &__p{
        margin: 0 10px 5px;
        font-family: 'gilroy-font';
        font-size: 17px;
        font-weight: bold;
    }
    &__time{
        margin: 0 10px 5px;
        font-family: 'noto-font';
        font-size: 10px;
    }
    &__btns{
        margin-left: 73px;
    }
    &__acept{
        height: 30px;
        width: 96px;
        background-color: #f68f24;
        border: none;
        border-radius: 8px;
        color: white;
        font-family: 'noto-font';
        margin: 18px 0 5px;
        cursor: pointer;
    }
    &__decline{
        font-family: 'noto-font';
        font-size: 9.3px;
        margin: 0;
        color: #0095be;
        border: none;
        background: white;
        width: 96px;
        cursor: pointer;
    }
    &__info{
        font-family: 'noto-font';
        font-size: 14px;
        margin:0;
        color: #0095be;
        width: 96px;
    }
}

