.topbar{
    background: linear-gradient(to bottom, rgb(255, 206, 50) ,rgb(245, 166, 35) );
    z-index: 1000;
    position: fixed;
    width: 100%;

    &__arrow{
        height: 24px;
        margin: 10px 20px;
    }
    &__continue{
        position: absolute;
        right: 16px;
        height: 40px;
        bottom: 70px;
    }
}

.gmnoprint{
    display: none;
}
.gm-control-active{
    display: none;
} 

.gm-fullscreen-control{
    display: none;
}

.controls {
     
}

// .pac-target-input{
//     width: 250px;
//     height: 32px;
//     border-radius: 10px;
//     background-color: white;
//     border: solid 2px rgb(245, 166, 35);
//     margin: 100px 22px 0;
//     top: 60px;
// }
#pac-input{
    width: 250px;
    height: 32px;
    border-radius: 10px;
    background-color: white;
    border: solid 2px rgb(245, 166, 35);
    margin: 62px 22px 0;
    top: 60px;
}
