.becomeGuardianCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.becomeContainer{
    width: 100%;
    max-width: 500px;

    &__title{
        background-color: #f68f24;
        color: white;
        padding: 10px 12px 18px;
        margin: 0;
    }
    &__logoDiv{
        display: flex;
        justify-content: flex-end;
    }
    &__logo{
        margin: 12px;
        
    }
    &__h2{
        margin-top: 18px;
        font-family: 'gilroy-font';
        font-size: 21px;
        font-weight: bold;
        width: 69%;
    }

    &__form{
        padding: 12px;
        display: flex;
        flex-direction: column;
    }
    &__label{
        color: rgba(0, 0, 0, 0.883);
        font-family: 'noto-font';
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    &__input{
        border: none;
        border-bottom: solid #d8d8d8 2px;
        margin-bottom: 10px;
        margin-top: 25px;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.52);
    }
    &__img{
        width: 210px;
        height: 135px;
        object-fit: cover;
        border-radius: 10px;
    }
}
.p-inputnumber{
    margin: 10px;
}
.p-button{
    background-color: white;
    border: 1px solid rgb(246, 143, 36);
}
.p-inputnumber-button-up{
    color: rgb(246, 143, 36);
}
.p-inputnumber-button-down{
    color: rgb(246, 143, 36);
}

.photos {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    }

.labelPhotos {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    transition: all .5s;
    text-transform: uppercase;
    text-align: center;
    height: 30px;
    width: 140px;
    background-color: white;
    border: solid 1px rgb(246, 143, 36);
    border-radius: 8px;
    color: rgb(246, 143, 36);
    font-family: 'noto-font';
    margin: 30px 0 45px;
    cursor: pointer;
    padding-top: 5px;
}

.svg{
    width: 10px;
    margin-right: 0.5rem;
    transform: rotate(180deg);
}

.hiddenProperty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding-left: 12px;  
    margin-bottom: 3vh;
}

.back__grey{
    background-color: rgba(128, 128, 128, 0.44);
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    
}
// .titulo{
    
//     margin: 0;
//     padding: 0;
// }

// .show{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     opacity: 1;
// }

.hidden{
    display: none;
    position: absolute;
    bottom: 0;
}
.btn{
    width: 100%;
    border-style: none;
    margin: 5px;
    font-family: 'noto-font';
    color: rgba(0, 0, 0, 0.753);
}

.becomeButtons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__upload{
        height: 30px;
    width: 140px;
    background-color: white;
    border: solid 1px rgb(246, 143, 36);
    border-radius: 8px;
    color: rgb(246, 143, 36);
    font-family: 'noto-font';
    margin: 30px 0 45px;
    cursor: pointer;
    }  
}
.continueButton{
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn{   
        height: 30px;
        width: 140px;
        background-color: #f68f24;
        border: none;
        border-radius: 8px;
        color: white;
        font-family: 'noto-font';
        margin: 30px 0 45px;
        cursor: pointer;
    }
}