.myCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.myInbox{
    padding: 12px 12px 57px;
    width: 100%;
    max-width: 500px;
    

    &__title{
        font-family: 'gilroy-font';
        margin: 22px 0 17px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__user{
        display: flex;
        justify-content: center;
        
    }
    &__img{
        width: 32px;
        height: 32px;
        object-fit: cover;
        border-radius: 9px;
    }
    &__name{
        display: flex;
        align-items: center;
    }
        &__h3{
            font-family: 'gilroy-font';
            font-size: 16px;
            margin: 0 9px;
        }
        &__span{
            font-family: 'noto-font';
            font-size: 12px;
            margin: 0;
            color: rgb(0, 149, 190);
        }
    &__info{
        width: 100%;
        padding-top: 13px;
    }
    
    &__text{
        margin: 0;
        font-family: 'noto-font';
        // font-size: 9px;
        margin-left: 9px;
        color: rgba(0, 0, 0, 0.555);
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 14px;
    }
    &__time{
        font-family: 'gilroy-font';
        margin: 0;
        font-size: 12px;
        margin-left: 9px;
        color: rgba(0, 0, 0, 0.829);
    }
    &__hr{
        margin: 10px 0;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.294);
        width: 100%;
        border-radius: 10px;
        border: none;
        
    }
}