.homeUserCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.userHome{
  padding: 12px 12px 55px;
  width: 100%;
  max-width: 500px;
  
  &__title{
    font-family: 'gilroy-font';
    font-size: 20px;
    font-weight: bold;
  }
  &__search{
    width: 100%;
    max-width: 500px;
    height: 38.5px;
    background-color: rgba(175, 175, 175, 0.329);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(76, 76, 76, 0.5);
    
  }
  &__searchLogo{
    height: 12px;
    margin-right: 5px;
  }
  &__searchInput{
    background-color: transparent;
    border: none;
    width: 80%;
    font-size: 9.5px;
    font-family: 'noto-font';
    color: rgba(0, 0, 0, 0.657);
  }
  &__details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__calendarOne{
    margin: 8px 5px 0 0;
    height: 60px;
    width: 156px;
    background-color: rgba(175, 175, 175, 0.329);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(76, 76, 76, 0.5);
  }
  &__calendarTwo{
    margin: 8px 0 0 5px;
    height: 60px;
    width: 156px;
    background-color: rgba(175, 175, 175, 0.329);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(76, 76, 76, 0.5);
  }
  &__calendarThree{
    margin: 8px 5px 0 0;
    height: 60px;
    width: 156px; 
    background-color: rgba(175, 175, 175, 0.329);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(76, 76, 76, 0.5);
  }
  &__h3{
    margin: 0;
    font-family: 'noto-font';
    font-size: 9.5px;
  }
  &__input{
    width: 95%;
    background-color: transparent;
    color: transparent;
  }
  &__baggage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__numbers{
    background-color: rgba(175, 175, 175, 0);
    border: none;
  }

  &__btn{
    height: 60px;
    width: 156px;    
        background-color: var(--color-background-orange);
        border: none;
        border-radius: 8px;
        color: var(--color-white);
        font-family: 'noto-font';
        margin: 8px 0 0 5px;
        cursor: pointer;
  }
}
.p-calendar .p-inputtext{
  background-color: rgba(175, 175, 175, 0);
  border: none;
}

.news{
  margin-top: 30px;
}
.swiper-container {
  margin: 0;
  width: 100%;
  height: 200px;
}
.swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
}
// .swiper-slide:nth-child(2n) {
//   width: 60%;
// }  
// .swiper-slide:nth-child(3n) {
//   width: 40%;
// }

.imagenes{
  object-fit: cover;
  height: 100%;
  
}




.experiences{
  margin-top: 30px;
  
  &__h2{
    font-size: 20px;
    font-family: 'gilroy-font';
    margin: 0;
  }
  &__img{
    width: 100%;
  }
  &__title{
    font-family: 'noto-font';
    font-size: 14px;
    margin: 7px 0 0;
  }
  &__info{
    font-family: 'noto-font';
    font-size: 10px;
    margin: 7px 0 20px;

  }
}

.experiencesShowMore{
  display: none;
}

.showMore{
  display: flex;
  justify-content: center;
  align-items: center;
  &__btn{
    height: 35px;
    width: 189px;
    background-color: white;
    border: solid 1px rgb(246, 143, 36);
    border-radius: 10px;
    color: rgb(246, 143, 36);
    font-family: 'noto-font';
    font-weight: bold;
    margin: 30px 0 7px;
    cursor: pointer;
  }
}  

