.myContainer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.mainDiv{
    padding: 14px 12px 57px;
    width: 100%;
    max-width: 500px;
    // background-color: white;
    // box-shadow: 1px 0px 13px rgba(76, 76, 76, 0.5);
    // border-radius: 10px;
    
}
.btnUnder{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'noto-font';
    width: 117px;
    border-bottom: solid 2px rgb(255, 186, 72);
}

.header{

    &__arrow{
        height: 16px;
    }
    &__sec{
        margin-top: 16px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 28px;
    }
    &__btn{
        border: none;
        background: none;
        cursor: pointer;
        font-size: 14px;
        font-family: 'noto-font';
        width: 117px;   
    }
    &__btn:hover{
        border-bottom: solid 2px rgb(255, 186, 72);
    }
    

}
.social{

    &__h1{
        font-family:'gilroy-font' ;
        font-weight: bold;
        font-size: 20px;
        width: 45%;
        margin-bottom: 18px;
    }
    &__register{
        font-family:'gilroy-font' ;
        font-weight: bold;
        font-size: 20px;
        width: 66%;
        margin-bottom: 18px;
    }
    &__div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 12px;
    }
    &__facebook{
        background-color: rgb(56, 89, 156);
        border: none;
        color: white;
        height: 39px;
        width: 130px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 21px;
        font-family: 'noto-font';
        text-decoration: none;
        // img{
        //     height: 14px;
        //     margin-right: 8px;
        //     margin-bottom: 3px;
        // }
    }
    &__google{
        background: none;
        height: 39px;
        width: 130px;
        border: solid 2px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 21px;
        color: black;
        font-family: 'noto-font';
        text-decoration: none;
        // img{
        //     height: 18px;
        //     margin-right: 9px;
        // }
    }
    &__text{
        font-family: 'noto-font';
        font-size: 12px;
        color: rgba(0, 0, 0, 0.52);
    }
}
.facebookImg{
    height: 14px;
    margin-right: 8px;
    margin-bottom: 3px;
}
.googleImg{
    height: 18px;
    margin-right: 9px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    &__label{
        color: rgba(0, 0, 0, 0.883);
        font-family: 'noto-font';
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    &__input{
        border: none;
        border-bottom: solid rgba(0, 0, 0, 0.342) 2px;
        margin-bottom: 10px;
        
        
    }
    .date{
        margin: 0;
        color: rgba(0, 0, 0, 0.883);
        font-family: 'noto-font';
        font-size: 13px;
        font-weight: bold;
        
        &__p{
            margin: 4px 0 10px;
            font-family: 'noto-font';
            font-size: 9px;
        }
    }
    // input::placeholder {
    //     display: flex;
    //     flex-wrap: wrap;
    //     color: green;
    //     overflow-wrap: break-word;
        
    // }
    &__text{
        font-family: 'noto-font';
        font-size: 8px;
    }
    .sub{
        display: flex;
        justify-content: center;
        align-items: center;
        &__btn{
        height: 30px;
        width: 189px;
        background-color: rgb(246, 143, 36);
        border: none;
        border-radius: 8px;
        color: white;
        font-family: 'noto-font';
        margin: 30px 0 45px;
        cursor: pointer;
        }
    }
}

.user__error{
    font-size: 15px;
    color: red;
}