.postGuardian{
    display: flex;
    justify-content: center;

    &__div{
        width: 100%;
        max-width: 500px;
        padding: 12px 12px 57px;
    }
    &__logoA{
        height: 18px;
        margin-bottom: 15px;
    }
    &__h1{
        font-family: 'gilroy-font';
        font-size: 28px;
    }
    &__post{

    }
    &__h2{
        font-family: 'noto-font';
        font-size: 17px;
        margin: 2px;
    }
    &__p{
        margin: 0;
        font-family: 'noto-font';
        font-size: 12px;
       
    }
    &__img{
        margin-top: 10px;
        width: 73%;
        object-fit: cover;
        height: 120px;
        border-radius: 12px;
    }
    &__toRight{
        display: flex;
        justify-content: flex-end;
    }
    &__arrow{
        height: 17px;
        margin: 10px;
        transform: rotate(180deg);
    }
    &__plus{
        width: 17px;
        margin: 23px 20px 5px;
    }
}