.myBookingDetails{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingDetails{
    padding: 12px 12px 57px;
    width: 100%;
    max-width: 500px;;

    &__h3{
        font-family: 'gilroy-font';
        font-size: 24px;
    }
    &__arrowBack{
        height: 21px;
        margin: 15px 0;
    }
    &__main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__titles{
        margin: 0 22px;
    }
    &__text{
        font-family: 'noto-font';
    }
    &__subtitles{
        font-family: 'gilroy-font';
        font-size: 18px;
    }
    &__check{
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 290px;
    }
    &__p{
        width: 150px;
        font-family: 'noto-font';
        font-size: 15px;
    }
    &__num{
        width: 50px;
        font-family: 'noto-font';
        font-size: 15px;
    }
    &__bookBtn{
        height: 30px;
    width: 189px;
    background-color: #f68f24;
    border: none;
    border-radius: 8px;
    color: white;
    font-family: 'noto-font';
    margin: 30px 0 45px;
    cursor: pointer;
    }
    &__hrs{
        background-color: #d8d8d8;
        border: solid 1px #d8d8d8;
        border-radius: 10px;
    }
}
